.aside-section {
  position: fixed;
  top: 0px;
  width: calc(100vw - 100px);
  height: 40px;
  padding: 15px 50px;
  /* box-shadow: 12px 12px 96px var(--cardComponentshadowColor); */
  z-index: 2;
}

.aside-container {
  display: flex;
  flex-direction: row;
  gap: 25px;
  width: 100%;
}

.aside-bar {
  display: flex;
  flex-direction: row;
  gap: 35px;
  justify-content: flex-start;
}

.logo {
  border: none;
  width: 40px;
  height: 40px;
  text-align: center;
  background-position: center;
  background-size: cover;
  text-decoration: none;
}

#LG{background-image: url("../graphics/logo.png")}

.nav-title {
  border: none;
  /* width: 80px; */
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.btn{
  border: none;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  background-color: #1f1f1f00;
  color: #ffffff;
  cursor: pointer;
  background-position: center;
  background-size: cover;
}

#MN {
  background-image: url("../graphics/app-icons/outline_menu_white_24dp.png");
  width: 40px;
  display: none;
}

.btn:hover {
  background-color: #808080;
}

.btn2{
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  background-color: #ffffff00;
  color: #ffffff;
  cursor: pointer;
}
.btn2:hover {
  background-color: #808080;
}

@media screen and (max-width: 1199px) {
  .aside-section {
    width: calc(100vw - 50px);
    padding: 15px 25px;
  }
  .nav-title {
    width: 130px;
  }
  .aside-bar {
    gap: 0px;
  }
}


@media screen and (max-width: 767px) {
  .aside-section {
    width: calc(100vw - 60px);
    padding: 15px 30px;
  }
  .aside-bar {
    gap: 20px;
  }
  .btn2 {
    display: none;
  }
  #MN {
    display: block;
  }
}
