#IA1{background-image: url("../../graphics/nasza-idea/inja-pavlic-vs4Eb73-AjU-unsplash_Easy-Resize.com.jpg"); }
#IA2{background-image: url("../../graphics/nasza-idea/michael-dziedzic-dbpLrMALyiM-unsplash_Easy-Resize.com.jpg"); }
#IA3{background-image: url("../../graphics/nasza-idea/helena-lopes-PGnqT0rXWLs-unsplash_Easy-Resize.com.jpg"); }
#IA4{background-image: url("../../graphics/nasza-idea/hunters-race-MYbhN8KaaEc-unsplash_Easy-Resize.com (1).jpg"); }
#IA5{background-image: url("../../graphics/nasza-idea/hannah-busing-fPDF4GQJmxM-unsplash_Easy-Resize.com (1).jpg"); }
#IA6{background-image: url("../../graphics/nasza-idea/valery-tenevoy-uruNsgg5j-o-unsplash_Easy-Resize.com.jpg"); }
#IA7{background-image: url("../../graphics/nasza-idea/olga-delawrence-5616whx5NdQ-unsplash_Easy-Resize.com.jpg"); }
#IA8{background-image: url("../../graphics/nasza-idea/gayatri-malhotra-WzfqobnrSVc-unsplash_Easy-Resize.com (1).jpg"); }
