#ON1{background-image: url("../../graphics/o-nas/regiony.png"); }
#ON2{background-image: url("../../graphics/o-nas/duy-pham-Cecb0_8Hx-o-unsplash_Easy-Resize.com.jpg"); }
#ON3{background-image: url("../../graphics/o-nas/bogomil-mihaylov-ekHSHvgr27k-unsplash.jpg"); }
#ON4{background-image: url("../../graphics/o-nas/hannah-busing-Zyx1bK9mqmA-unsplash.jpg"); }
